.community {
  margin: 0;
  padding: 30px 40px;


  @include breakpoint($laptop-and-up) {
    display: flex;
    .left, .right {
      width: 50%;
    }
  }

  @include breakpoint($mobileonly) {
    padding: 20px 15px;
  }

  .content-item-title {
    margin-bottom: 10px;
  }

  .description {
    margin-top: 15px;

    ul {
      list-style: none;
      padding: 0;

      li {
        background-position: 0 .5em;
        background-repeat: no-repeat;
        background-image: url('/themes/custom/koop_overheid/images/icon-dart-right-blue.svg');
        background-size: 6px 9px;
        padding-left: 1em;
        clear: both;
      }
    }
  }
}

.community-payoff {
  display: flex;
  align-items: center;

  .payoff-icon {
    position: relative;
    top: -1px;
    margin-right: 8px;
    padding: 11px;
    border: 3px solid $c-blue-600;
    border-radius: 30px;
    background-position: center center;
  }
}

.community-banner {
  padding: 60px 0;
  background-position: center center;
  background-size: cover;

  .donl-community-search-form {
    margin-top: 16px;
  }
}

.header-cta {
  padding: 14px 0;

  a {
    transition: .5s;

    &:hover, &:focus, &:active {
      margin-left: -10px;
      padding-right: 10px;
      text-decoration: none;
      color: $c-blue-600;
    }
  }
}

.community-menu-wrapper {
  background: $c-blue-100;

  @include breakpoint($laptop) {
    display: none;
  }

  .community-menu {
    margin: 0 -15px;
    padding: 15px 0;

    a {
      margin: 0 15px;
    }
  }
}

#body .community-related {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;

  h2 {
    font-size: 1.5em;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .col {
    margin: 0;

    > h3 {
      font-size: 1.25em;
    }

    .search-result {
      margin-bottom: 20px;
      padding: 0;
      border: 0;

      .content-characteristics-icon {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      a {
        h3 {
          transition: .5s;
        }

        &:hover, &:focus, &:active {
          h3 {
            color: $c-blue-400;
          }
        }
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.container-landing-page {
  max-width: 70em;
  margin: 0 auto;
}


