.donl-content-header-block {
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media all and (min-width: 1080px) {
    padding: 64px 0;
  }

  .container {
    @media all and (max-width: 1079px) {
      padding: 0;
    }
  }

  .card {
    .card-content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 24px 28px;
      border: 0;

      @media all and (min-width: 1080px) {
        flex-direction: row;
        border-radius: 8px;
      }

      p {
        @media all and (min-width: 1080px) {
          font-size: 18px;
        }
      }
    }

    .detail {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      @media all and (min-width: 1080px) {
        padding-right: 32px;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    .search {
      flex: 1;
      width: 100%;
      margin: 0;
      padding-top: 24px;
      overflow: visible;

      @media all and (min-width: 1080px) {
        padding: 36px 0;
      }
    }

    .content-item-title {
      margin-bottom: 0;

      h1 {
        font-size: 22px;

        @media all and (min-width: 1080px) {
          font-size: 28px;
        }
      }

      + * {
        margin-top: 16px;

        @media all and (min-width: 1080px) {
          margin-top: 24px;
        }
      }
    }

    .content-characteristics-icon {
      width: 60px;
      height: 60px;
      margin-right: 16px;

      @media all and (min-width: 1080px) {
        width: 75px;
        height: 75px;
        margin-right: 20px;
      }

      @media all and (max-width: 700px) {
        display: block;
      }
    }

    .list {
      margin-top: 0;
      margin-bottom: 0;

      &.list--linked li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .searchbar {
      .form-item-type-select .select2-container--default {
        @media all and (max-width: 1079px) {
          max-width: 120px;
        }
      }

      .submit-wrapper input {
        transition: all 0s;

        @media all and (max-width: 1079px) {
          font-size: 0;
          padding-right: 20px;
          transition: all 0s;
        }
      }
    }
  }
}

// Sticky header.
.donl-content-sticky-header-block {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s;
  transform: translateY(-100%);
  pointer-events: none;

  &.active {
    transform: translateY(0);
    pointer-events: all;
  }

  .card-content-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 28px;
  }

  .content-item-title {
    margin-bottom: 0;

    .content-characteristics-icon {
      @media all and (max-width: 700px) {
        display: block;
      }
    }
  }

  .searchbar {
    .submit-wrapper input {
      font-size: 0;
      padding-right: 20px;
    }
  }

  .search {
    position: absolute;
    top: 50%;
    right: 28px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
    transform: translateY(-50%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .search-toggle {
      z-index: 101;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      min-width: 42px;
      height: 42px;
      min-height: 42px;
      cursor: pointer;
      border: 1px solid $c-blue-600;
      border-radius: 4px;
      background-color: $c-white;

      svg {
        transform: scale(0.9);

        path.path-search-icon {
          fill: $c-blue-600;
        }
      }
    }

    .searchbar {
      z-index: 100;
      transition: all .3s;
      transform: translateX(100%);

      .form-item-search {
        @media all and (max-width: 700px) {
          width: 200px;
        }

        @media all and (max-width: 420px) {
          width: 110px;
        }
      }

      .form-item-type-select .select2-container--default {
        width: 110px;
        min-width: 110px;
        max-width: 110px;
      }

      .submit-wrapper {
        display: none;
      }
    }

    &.active {
      .search-toggle {
        background-color: $c-blue-600;

        svg path.path-search-icon {
          fill: $c-white;
        }
      }

      .searchbar {
        transform: translateX(0);
      }
    }
  }
}

// @todo Check why the reverse condition for content types make this block hidden on community pages.
.page-node-type-link-page #block-donlsearchgeneralblock-2 {
  display: none;
}
