.details-replacement {
  margin: 0 1em;
  padding: $gutter;

  .details-replacement-summary {
    font-size: 100%;
    font-weight: 400;
    display: inline-block;
    margin: -$gutter;
    padding: $gutter;
    color: #000000;
    outline: 2px solid transparent;
    background-image: url(../images/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: right $gutter center;

    a {
      text-decoration: none;
    }

    &:hover, &:focus, &:active {
      cursor: pointer;
      text-decoration: underline;
      outline: 0;
    }
  }

  & > * {
    display: none;
  }

  .details-replacement-summary {
    display: block;
  }

  &[open] {
    & > * {
      display: block;
    }

    .details-replacement-summary {
      background-image: url(../images/icon-minus.svg);
      margin-bottom: 0;
    }
  }

  .details-replacement-summary::-webkit-details-marker {
    display: none;
  }
}
