.editormd-dialog {
  .editormd-form {
    label {
      display: block;
      font-weight: 400;
    }

    input[type="text"], {
      display: inline-block;
      padding: 8px;
      width: 264px;
    }
  }
}
