.homepageblock.related--primaryBlue {
  overflow: hidden;

  img {
    width: 100%;
    height: 8em;

    & + .content--inner {
      height: 100%;
      margin-top: -1em;
    }
  }
}

#block-communityconfigurablethemeblock .themelist {
  margin: 0 -1.5em;
}

.group-description {
  max-width: 900px;
}

.group-wrapper {
  margin-bottom: 30px;
}

#body.route-donl-searchgroupview {
  .group-info {
    padding-top: 15px;

    .tabs {
      display: none;

      @include breakpoint($laptop-and-up) {
        display: block;
      }
    }
  }

  .group-image {
    display: none;

    @include breakpoint($laptop-and-up) {
      display: block;
      max-width: 375px;
    }
  }

  .content-item .background {
    padding-top: 0;

    .content-item-title {
      margin-bottom: 5px;
    }

    .content-item-description {
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}

.group-header-wrapper {
  .background-image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#body .field-groups {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  .search-result {
    width: calc(100% / 4 - 30px);
    margin: 15px;
    border: 0;

    @include breakpoint(tablet) {
      width: calc(100% / 2 - 30px);
    }
    @include breakpoint(mobileonly) {
      width: calc(100% / 1 - 30px);
    }

    a {
      text-decoration: none;

      &:hover, &:focus, &:active {
        h3 {
          color: $c-blue-400;
        }
      }
    }

    h3 {
      font-size: 1.25em;
      overflow: hidden;
    }

    .content-item-title {
      height: 75px;
      margin: 0;
    }

    .content-characteristics-icon {
      margin-right: 15px;
    }
  }
}

.more-groups-button {
  margin-bottom: 30px;
}
