<div class="search-block content-characteristics{% if type %} content-characteristics-{{ type }}{% endif %}">
  <div class="wrapper content-characteristics-background">
    <div class="container">
      <div class="search-row{% if type %} active-icon{% endif %}">
        {% if type %}
          <div class="content-item-title">
            <span class="content-characteristics-icon"></span>
            <h2 class="type-title"> {{ title }}</h2>
          </div>
        {% endif %}
        {{ form }}
      </div>
    </div>
  </div>
</div>
