<div id="suggester">
  {% if suggestions %}
    <h2>{{ 'Suggested datasets:'|t }}</h2>
    {% for key, suggestion_group in suggestions %}
      <div class="suggestion-group">
        <h4>{{ key|t }}</h4>
        <ul class="list list--linked">
          {% for link in suggestion_group %}
            <li>{{ link }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  {% else %}
    {{ 'No suggestions.'|t }}
  {% endif %}
</div>
