<div class="container columns row actueel-content">
  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}
  {% if filter %}
    <div class="filter">
      {{ filter }}
    </div>
  {% endif %}
</div>
<div class="container">
  <div id="content-second" class="recent-items"></div>
  <div class="load-more button button--primary">{{ 'Load more' }}</div>
  <div class="loader"></div>
</div>
