<div class="container columns row columns--sidebar-left page--recent-type">
  <div class="result--list result--list__data">
    {{ items }}
  </div>
  <div class="views--recent-menu">
    <h2>{{ title }}</h2>
    <ul class="list list--linked">
      {% for menu_item in menu_items %}
        <li class="list__item">
          {{ menu_item.link }}
        </li>
        {% if menu_item.sub_items|length %}
          <li class="list__item" style="background-image: none;">
            <ul class="list list--linked">
              {% for sub_item in menu_item.sub_items %}
                <li class="list__item">{{ sub_item.link }}</li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
