# Ignore every file and directory, so we can specify precisely which files and directories need to be included.
*

# Descend into directories.
!*/

# Include gitignore file.
!/.gitignore

# Include project readme file.
!/README.md

# Include PHPCS file.
!/phpcs.xml

# Include Drupal config directories.
!/config/**
/config/*/.htaccess

# Include composer file.
!/composer.json

# Ignore Composer owned directories to avoid git submodules.
/vendor
/libraries
/drupal/core
/drupal/modules/contrib
/drupal/themes/contrib
/drush/Commands/contrib

# Include custom Drupal modules, patches, themes and translations.
!/drupal/modules/custom/**
!/drupal/themes/custom/**
!/patches/*
!/translations/*

# Ignore theme files.
/drupal/themes/custom/**/css
# Include the component lib.
!/drupal/themes/custom/**/componentenbibliotheek/*

# Include SOLR configuration.
!/solr/**

# Include SAML configuration and metadata.
!/saml/**
/saml/environment.*.php

# Make sure to always ignore the following files and directories.
*.orig
bower_components
node_modules
yarn.lock
.DS_Store

# Include assets.
!/assets/**

# Include the Indicia related modules for external use.
!/drupal/modules/indicia/indicia_suite
!/drupal/profiles/indicia/**

# Ignore some specific files which we don't want in our repo.
/config/sync/block.block.*
/config/sync/ckan.request.settings.yml
/config/sync/ckan.resourcetype.settings.yml
/config/sync/donl.settings.yml
/config/sync/donl_search.sorl_request.settings.yml
/config/sync/donl_statistics.piwik.settings.yml
/config/sync/donl_value_list.settings.yml
/config/sync/indicia_portals.settings.yml
/config/sync/koop_overheid.settings.yml
/config/sync/system.logging.yml
/config/sync/system.menu.*
/config/sync/system.performance.yml
/config/sync/system.site.yml
/config/sync/ultimate_cron.job.*
/config/sync/webform.webform.*

/config/sync/language/*/block.block.*
/config/sync/language/*/koop_overheid.settings.yml
/config/sync/language/*/system.menu.*
/config/sync/language/*/system.site.yml
/config/sync/language/*/ultimate_cron.job.*
/config/sync/language/*/webform.webform.*

# Specific settings we don't want on github.
/config/acceptatie/*
/config/development/*
/config/production/*
/config/sync/config_split.config_split.*
/server
phpcs.xml
