{% extends '@koop_overheid/page/header/header.html.twig' %}

{% block logo %}
  <div class="header-cta">
    <a href="/community" class="link cta__backwards">{{ 'Back to all datacommunities' |t }}</a>
  </div>
{% endblock logo %}
