<div class="advance-swap">
  <span class="swap-label">{{ 'Form display' |t }}</span>
  <div class="selects">
    <span class="option basic"><span class="radio"><span class="checker"></span></span>{{ 'Basic'|t }}</span>
    <span class="option advanced"><span class="radio"><span class="checker"></span></span>{{ 'Advanced'|t }}</span>
  </div>
  <div class="new-loader"></div>
</div>
