<p>Optional: General tekst about visualisations.</p>

<h3>Resource title: Bar chart met de de items</h3>
<p>Een omschrijving van deze bar chart.</p>

{% if text %}
  {{ text }}
{% endif %}

<iframe title="Immigratie: IND EU Documenten Beslissingen" aria-label="Column Chart" id="datawrapper-chart-6AJfy" src="//datawrapper.dwcdn.net/6AJfy/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="661"></iframe>
