<div id="panel-{{ id }}" class="panel">
  <div class="panel-{{ id }}-content{% if container %} container{% endif %}">
    {% if title %}
      <h2>{{ title }}</h2>
    {% endif %}
    {{ content }}
  </div>
</div>
