{% extends 'form-element.html.twig' %}

{% set date_classes = [
  'js-form-item',
  'form-item',
  'js-form-type-' ~ type|clean_class,
  'form-item-' ~ name|clean_class,
  'js-form-item-' ~ name|clean_class,
  disabled == 'disabled' ? 'form-disabled',
] %}

{% block opening_wrapper %}
  <div{{ attributes.addClass(date_classes) }}>
{% endblock opening_wrapper %}

{% block label_suffix %}{% endblock label_suffix %}

{% block closing_wrapper %}
  </div>
{% endblock closing_wrapper %}
