{% if element_id and content %}
  <span class="more-information">
    <span class="more-information-click js-more-information">?
      <span class="visually-hidden">{{ 'Explanation'|t }}</span>
    </span>
    <div class="more-information-content">
      {{ content }}
      <div class="more-information-close js-close">{{ 'Close'|t }}</div>
    </div>
  </span>
{% endif %}
