{% extends '@koop_overheid/page/page.html.twig' %}

{% block content_before %}
  {# by leaving this empty we automatically hide the search block that's located
  in this region. #}
{% endblock content_before %}

{% block content %}
  <div class="container row">
    <div>
      {{ page.content }}
    </div>
  </div>
{% endblock content %}
