{% block paragraph %}
  <li>
    <a href="{{ link_url }}">
      {% if image_url %}
        <img src="{{ image_url }}" alt="{{ image_alt }}">
      {% endif %}
      <h3>{{ link_title }}</h3>
    </a>
  </li>
{% endblock paragraph %}
