{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <div class="row row--page-opener">
    <div class="container">
      <div class="breadcrumb">
        <p>{{ 'You are here'|t }}:</p>
        <ol>
          {% for item in breadcrumb|slice(1) %}
            <li>
              {% if item.url %}
                <a href="{{ item.url }}">{{ item.text }}</a>
              {% else %}
                {{ item.text }}
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
{% endif %}
