.search-block {
  .wrapper {
    padding: 30px 0;
  }

  &.content-characteristics.content-characteristics-icon {
    width: 75px;
    height: 75px;
  }
}

.donl-search-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

  @include breakpoint($tablet) {
    align-items: center;
  }

  h2 {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.donl-suggester-form {
  .suggester-result-container {
    position: relative;
    width: 100%;

    #suggester {
      position: absolute;
      z-index: 200;
      top: -2px;
      width: 100%;
      padding: 17px 15px 15px;
      border: 1px solid $c-blue-100;
      border-radius: 0 0 3px 3px;
      background: white;
      box-shadow: 0 0 5px 0 $c-blue-100;

      .suggestion-group {
        margin-bottom: 10px;

        a {
          display: block;
        }

        h4 {
          margin: 0;
        }

        ul {
          margin: 0;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.content-header .donl-search-form .facet-wrapper {
  .facet-remove {
    background-color: $c-blue-100;
  }
}

.searchbar {
  position: relative;
  z-index: 20;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  .form__element {
    width: auto;
    margin-bottom: 0;
  }

  .form-item-type-select {
    flex-shrink: 0;
    height: 100%;

    @include breakpoint(mobileonly) {
      width: auto;
      margin-bottom: 0;
    }

    .select2-selection__rendered {
      line-height: 42px;
    }

    .select2-container .select2-selection--single {
      height: 42px;
      border-radius: 5px;
    }

    .select2-selection__arrow {
      height: 42px;
    }

    .select2-container--default {
      padding: 0 5px;
      border-radius: 5px 0 0 5px;
      background: $c-blue-400;
    }

    .select2-container--default .select2-selection--single {
      border: 0;
      border-radius: 5px 0 0 5px;
      background: $c-blue-400;

      * {
        color: white;
      }

      .select2-selection__arrow {
        right: 10px;

        b {
          border-color: white transparent transparent transparent;
        }
      }
    }

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent white transparent;
    }
  }

  .form-item-search {
    position: relative;
    width: 100%;
    margin: 0;
    @include breakpoint(mobileonly) {
      width: calc(100% - 110px);
    }

    input {
      height: 42px;
      margin: 0;
      border-radius: 0;
    }
  }

  .submit-wrapper {
    position: relative;
    max-width: 110px;

    input {
      line-height: 22px;
      width: 100%;
      margin: 0;
      padding-right: 40px;
      text-align: right;
      border-radius: 0 5px 5px 0;
    }

    .icon-search {
      position: absolute;
      z-index: 99;
      top: 0;
      right: 10px;
      bottom: 0;
      height: 20px;
      margin: auto;
      pointer-events: none;
    }
  }

  @include breakpoint($smallmobileonly) {
    flex-wrap: wrap;
    input {
      padding-right: 30px;
    }
    .form-item-type-select {
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 8px;
    }
  }
}

.search-row {
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($laptop) {
    display: block;
  }

  .content-item-title {
    margin: 0;

    h2 {
      margin: 0 0 6px 0;
    }
  }

  &.active-icon {
    justify-content: space-between;
  }
}

.did-you-mean {
  margin-bottom: 15px;

  .search-replace {
    cursor: pointer;
    color: $c-blue-600;

    &:hover, &:focus, &:active {
      color: $c-blue-400;
    }
  }
}
